//mixin
@import './public/mixin.scss';
//var
@import './public/var.scss';

html{
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}

ul,ol,li { 
    list-style:none;
}


//间距
.padding-0-44 {
    @include mediaPadding(0, 10rem, 0, 10rem);
}

