//mixin
@import './public/mixin.scss';
//var
@import './public/var.scss';

html{
    margin: 0;
    padding: 0;
    height: auto;
    width: auto;
}

ul,ol,li { 
    list-style:none;
}

i:hover {
    cursor: pointer;
}

//间距
.padding-0-44 {
    @include mediaPadding(0, 10rem, 0, 10rem);
}

.padding-2-0 {
    @include mediaPadding(0.5rem, 0, 0, 0);
}

