$MAIN_COLOR: rgb(212, 0, 0); //主题色
$MAIN_SELECT_COLOR: rgb(212, 80, 80); //选中颜色
$COLOR_FFF: #fff; 
$COLOR_BLACK: #515a6e;

$COLOR_BACKGROUND_GRAY: #f8f8f8; //灰色背景
$TEXT_COLOR_WHITE: #fff;
$TEXT_COLOR_BLACK: black;

